{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="p-3">
  <div class="container">
            {% if user.is_authenticated %}
            <a href="{% url 'movies.index' %}" class="btn bg-dark text-white">
              Go Back
            </a>
            {% endif %}
    <div class="row">
      {% for movie in template_data.movies %}
      <div class="col-md-4 col-lg-3 mb-2">
        <div class="p-2 card align-items-center pt-4">
          <img src="{{ movie.image.url }}" class="card-img-top rounded img-card-200">
          <div class="card-body text-center">
            <a href="{% url 'movies.show' id=movie.id %}" class="btn bg-dark text-white">
              {{ movie.name }}
            </a>
            {% if user.is_authenticated %}
            <a href="{% url 'movies.unhide' id=movie.id %}" class="btn bg-dark text-white">
              Unhide
            </a>
            {% endif %}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock content %}
